<div *ngIf="showsData">
  <div *ngFor="let showData of showsData">
    <h2>{{showData.show.name}}</h2>
    <div>
      <img [src]='showData.show.image.medium'/>
    </div>
    <div>
      <div [innerHTML]="showData.show.summary"></div>
      <h3>Show Details</h3>
      <ul>
        <li>Premiered: {{showData.show.premiered}}</li>
        <li>Status: {{showData.show.status}}</li>
        <li>Schedule: {{showData.show.schedule.days}}s at {{showData.show.schedule.time}} ({{showData.runtime}} minutes)</li>
        <li>Genres: {{showData.show.genres.join(' | ')}}</li>
        <li>Language: {{showData.show.language}}</li>
      </ul>
    </div>
  </div>
</div>
